@model string
@{
    ViewBag.Title = "ActionPost";
    Layout = null;
}

@if (Model != null)
{ 
    <div class="alert alert-success">
        <span class="icon icon-circle-check"></span> <b> @Model</b>
    </div>
}
else
{
    <div class="alert alert-danger">
        <span class="icon icon-warning">

        </span> @Model Invalid  Operation ! plz Give Proper Info 
    </div>
}