
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col col-lg-12">
        <h2>Accomodation Types</h2>
        <hr/>
    </div>
</div>


<div class="row mb-3">
    <div class="col col-lg-12">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="search..." aria-label="Recipient's username with two button addons" aria-describedby="button-addon4">
            <div class="input-group-append" id="button-addon4">
                <button class="btn btn-outline-primary" type="button">Search</button>
                <button class="btn btn-outline-secondary" type="button">Reset</button>
                <button class="btn btn-outline-success" type="button" data-toggle="modal" data-target="#exampleModal">Create</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col col-lg-12">
        @{ Html.RenderAction("Listing"); }
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="actionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        @* keep modal content part in partial view _Action *@

    </div>
</div>